@using System.Data
@using System.Data.SqlClient

@model DataTable

<h2>Instructor With Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Instructor ID</th>
            <th>Instructor Name</th>
            <th>Course ID</th>
            <th>Course Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@((int)row["instructor_id"])</td>
                <td>@(row["Instructor"].ToString())</td>
                <td>@((int)row["course_id"])</td>
                <td>@(row["Course"].ToString())</td>




            </tr>
        }

    </tbody>
</table>
@Html.ActionLink("Back to Admin Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-secondary" })